# docker-compose.override.yaml
version: '3.9'

services:
  function-ask-question:
    environment:
#      AI_MODEL: 'gpt-4'
      AI_MODEL: 'gpt-3.5-turbo'
      OPENAI_API_KEY: '<open_ai_key>'

  plugin-send-ntfy:
    environment:
      TOPIC: '<topic>'
      
  communication-hub:
    environment:
      LISTEN_TOPICS: 'topic1:http://service1:port1/endpoint1,topic2:http://service2:port2/endpoint2'
#      LISTEN_TOPICS: '<topic>:http://function-log-communication:5000/log'
