# docker-compose.override.yaml
version: '3.9'

services:
  communication:
    environment:
#      DEBUG: true
#      LISTEN_TOPIC_<UUID>: '<protocol><service_name>/<endpoint>'
    volumes:
      - ./../pkg/communication:/app
#    restart: unless-stopped
